.desktopNavigationItem {
  color: var(--mantine-color-blue-light-color);
}

.desktopNavigationItem:hover {
  border-radius: 2px;
  background-color: var(--mantine-color-blue-light-hover);
  color: var(--mantine-color-blue-light-color);
  cursor: pointer;
}

.drag {
  -webkit-app-region: drag;
}

.noDrag {
  -webkit-app-region: no-drag;
}
